body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  background-color: #fff;
  padding: 40px; /* Increased padding */
  border-radius: 20px; /* Increased border radius */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  border: 4px solid #007bff; /* Blue border */
}

.category-heading {
  color: #007bff;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-btn {
  display: inline-block;
  padding: 15px 40px; /* Adjusted padding */
  margin: 10px;
  width: 200px; /* Fixed width */
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.category-btn:hover {
  background-color: #0056b3;
}

.category-btn:focus {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
